<div class="barra_navegacion">
  <ul>
    <li><a id ="lebel_bienvenida" href="#"> bienvenido </a></li>
    <li><a href="#">OFERTAS DEL DÍA</a></li>
    <li><a href="#">MI LISTA DE DESEOS</a></li>
    <li><a href="#">ÓRDENES</a></li>
    <li><a href="#">CARRITO</a></li>
    <li><a id="ingresar" href="#">INGRESAR</a></li>
  </ul>
</div>
