<div class="barra_navegacion">
  <ul>
    <li> <%= link_to (image_tag("logo.png")), root_path, id:"lebel_bienvenida"  %></li>
    <% if current_user.try(:admin?) or user_signed_in? %>
      <li> <%= link_to "PRODUCTOS", products_path  %></li>
    <% end %>
    <li><a href="#">OFERTAS DEL DÍA</a></li>
    <li><a href="#">MI LISTA DE DESEOS</a></li>
    <li><a href="#">ÓRDENES</a></li>
    <li><a href="#">CARRITO</a></li>
    <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class: "nav-link"%>
      </li>
    <% else %>
    <li class="nav-item active">
      <%= link_to "Iniciar sesion", new_user_session_path,id:"ingresar" %>
    </li>
    <% end %>
  </ul>
</div>
