
<p>
  Hola <%= @user.nombre %>, sea bienvenido a nuestra tienda online, donde puedes <br>
  encontrar miles de productos a tan solo un clic de distancia.<br><br>
  Tus datos personales son:<br>
  <%= @user.email %><br>
  <%= @user.direccion %><br>
  <%= @user.telefono%><br><br>

  Muchas gracias!!.
</p>
