<div class="container row">
      <div class="col s7 push-s5">
      	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eum, delectus, quas obcaecati animi recusandae possimus ipsum impedit deleniti quod, consequuntur aspernatur non beatae repellendus sapiente minima dolorum laboriosam laudantium!
      	<br><br>
      	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit blanditiis quas distinctio quae commodi dolor magni nam dolore tenetur assumenda officiis maiores accusamus molestiae id alias fugiat, iste tempore eum.
      	<br><br>
      	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sequi vero, commodi aut asperiores dicta, iusto eum officia magnam harum neque optio at incidunt natus, nulla similique. Quam, quasi ipsam.
      </div>
      <div class="col s5 pull-s7">
      	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat nihil suscipit obcaecati labore. Culpa laudantium aliquam reprehenderit, quisquam dolorum, maxime assumenda quae consequatur corrupti molestiae nam quas, modi laboriosam.
      	<br><br>
      	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non soluta, tempora cupiditate, pariatur ullam itaque reiciendis libero iste nesciunt obcaecati, explicabo dolorem numquam, dolore quibusdam consequuntur temporibus corporis. Molestias, dicta.
      	<br><br>
      </div>
</div>