// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posicion{
  position:absolute;
		top: 160px;
		right: 50px;
}

.posicion_pdf{
	background-color: #e53935;
  position:absolute;
		top: 510px;
		right: 50px;
}
.posicion_xls{
	background-color: #e53935;
  position:absolute;
		top: 550px;
		right: 50px;
}

