.barra_navegacion{
	background-color: white;
	padding: 8px;
    width: 100%;
    border: 1.5px solid rgb(230,230,230);
}

.barra_navegacion li{
    text-transform: uppercase;
    display: inline-block;
    padding-right: 14px;
    padding-left: 14px;
}

.barra_navegacion a{
    color: rgba(28,28,28,0.6);
}


.barra_navegacion a:hover{
    color: black;
}

a#lebel_bienvenida {
    margin-right: 400px;
    color: rgb(15,133,143);

}
a#ingresar{
    color: rgba(254,254,254,0.7);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(15,133,143);
}

a#ingresar:hover{
    color: white;
}

.lista_informacion li{
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 18px;
}

.lista_informacion h3{
    color: rgb(28,28,28);
    font-size: 18px;
    text-transform: uppercase;
    font-style: bold;
}

.main{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(241,241,241);
}

.carousel{
    margin-top: 10px;
}

body{
    background-color: rgb(225,225,225);
}

.categorias {
    width: 100%;
    height: 400px;
    /*background-color: rgb(15,133,143);*/
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
}

.zona_categorias li {
    background-color: white;
    text-align: center;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.zona_categorias a {
    color: black;
    text-transform: uppercase;
}

.zona_categorias li:hover{
    background-color: rgb(205,205,205);
    color: white;
    border: 2px ridge rgb(235,235,235);
}

footer {
    margin-top: -140px;
    background-color: rgb(15,133,143);
    text-align: center;
    height: 230px;
}

footer p{
    padding-top: 100px;
    text-align: center;
    text-transform: lowercase;
    color: white;
}

footer li {
    display: inline-block;
}

.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 20px;
    margin: 20px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}



#lista_mascotas {
    background: url("mascotas.jpg") no-repeat;
    background-size: cover;
}

#lista_electrodomesticos{
    background: url("deportes.jpg") no-repeat;
    background-size: cover;
}

#lista_salud {
    background: url("electrodomesticos.jpg") no-repeat;
    background-size: cover;
}

#lista_deportes {
    background: url("salud.jpg") no-repeat;
    background-size: cover;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00796b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form boton:hover,.form boton:active,.form boton:focus {
  background: #00796b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
